@import url('https://fonts.googleapis.com/css?family=Assistant:400,800|VT323&display=swap');

/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.

	FONTS
	font-family: 'VT323', monospace;
	font-family: 'Assistant', sans-serif;
	*/
	
a:link {
	text-decoration: none;
}

	a:link, a:visited {
	color: #19b542;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 18px;
	font-family: 'Assistant', sans-serif;
}

code {
	
}

h1, h2, h3 {
	font-family: 'VT323', monospace;
	text-align: center;
	margin-bottom: .5em; 
}

h1 {
	font-size: 5em;
	text-shadow: 3px 3px #19b542;
}

h2 {
	font-size: 2em;
	text-shadow: 1px 1px #19b542;
}

h3 {
	font-size: 2em;	
	text-shadow: 1px 1px #19b542;
}

header {
	margin-top: 3em;
}

main {
	margin: 0 25%;
}

p {
	margin-bottom: 1em;
	line-height: 135%;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}